*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#can{
    border: 2px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #4d79bc;
    max-width: 100%;
    max-height: 100vh;
}